<!DOCTYPE html>
<html>
  <style>
    input[type=text],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 40%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      margin: 0px auto;
      float: center;
      align: center;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #45a049;

    }

    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width: 60%;
      align: center;
      float: center;
      margin: 0px auto
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 80%;
      align: center;
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>

  <body>
    <div align="center">
      Reports:
      <form action="/report" method="post">
        <select id="month" name="month">
          <option value='01'>Januari</option>
          <option value='02'>Februari</option>
          <option value='03'>Maret</option>
          <option value='04'>April</option>
          <option value='05'>Mei</option>
          <option value='06'>Juni</option>
          <option value='07'>Juli</option>
          <option value='08'>Agustus</option>
          <option value='09'>September</option>
          <option value='10'>Oktober</option>
          <option value='11'>November</option>
          <option value='12'>Desember</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>

    <h2 align="center">View Reports</h2>

    <div>
      <table>
        <tr>
          <th>id</th>
          <th>Expense name</th>
          <th>Amount</th>
          <th>date</th>
        </tr>
        <% userExpense.forEach(expense => {%>
          <tr>
            <td><%= expense.id %></td>
            <td><%= expense.Expense.name%></td>
            <td><%= expense.amount %></td>
            <td><%= expense.createdAt %></td>
          </tr>
        <% }) %>
      </table>
    </div>

  </body>

</html>